/* Deftones page */

.deftones {
    background-image: url('afbeeldingen/deftones_pony.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 100%;
    margin: 0;
}

body.deftones {
    color:rgb(59, 59, 59);
}

.deftonesh {
    color: rgn(59, 59, 59);
}

/* Boa page */

.boa {
    background-image: url('afbeeldingen/boa.jpg');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position:center;
}

body.boa {
    color: white;
}

.boah {
    color: white;
}


/* The Cure page */

.cure {
    background-image: url('afbeeldingen/the_cure.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 100%;
    margin: 0%;
}

body.cure {
    color:#546358;
}

.cureh {
    color: #546358;
}
/* A Tribe Called Quest page */

.tribe {
    background-image: url('afbeeldingen/tribe.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    height: 100%;
    margin: 0%;
}

body.tribe {
    color:rgb(255, 0, 0);
}

.tribeh {
    color: red;
}

/* Weezer page */

.weezer {
    background-image: url('afbeeldingen/weezer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0%;
}

body.weezer {
    color:rgb(0, 0, 0);
}

.weezerh {
    color: black;
}
/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #000000; 
    
    color: #949494;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(97, 97, 97);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

img.zweefRechts {
    float: right;
    margin-left: 15px;
    margin-right: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.aroundfur {
    float: left;
    margin-right: 15px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 320px;
    width: 320px;
}

.disintegration {
    float: right;
    margin-right: 15px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 320px;
    width: 320px;
}

.strato {
    float: left;
    margin-right: 15px;
    margin-left: 3px;
    margin-top: 3px;
    margin-bottom: 3px;
    height: 320px;
    width: 320px;
}

.band {
    float: left;
    height: 50%;
    width: 50%;
    margin-left: 3px;
    margin-right: 15px;
    margin-top: 3px;
    margin-bottom: 3px;
}


.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(124, 124, 122);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #b6b8b6;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #3c473f;
}

nav li a.active {
    background-color: rgb(60, 75, 66);
}

/* div albums */

.albumLeft {
    border: 1px solid rgb(241, 241, 241);
    border-width: 100%;
    overflow: hidden;
    margin-top: 5px;
    padding-right: 5px;
}

.albumRight {
    border: 1px solid rgb(241, 241, 241);
    border-width: 100%;
    overflow: hidden;
    margin-top: 5px;
    padding-left: 5px;
}

/* div home pagina */

.textHome {
    border: 1px solid rgb(241, 241, 241);
    border-width: 100%;
    overflow: hidden;
    margin-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
}