/* Deftones page */

.deftones {
    background-image: url('afbeeldingen/ohms_deftones.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
}

body.deftones {
    color:rgb(255, 0, 0);
}


/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #003b1d; 
    
    color: #8b8b8b;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(66, 66, 66);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(192, 192, 190);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #b6b8b6;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #3c473f;
}

nav li a.active {
    background-color: rgb(60, 75, 66);
}

