/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: #003b1d;  
    
    color: #fffb00;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}


header {
    color: rgb(0, 150, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
}


/* specifieke stijlen */

img.zweefLinks {
    float: left;
    margin-right: 15px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: rgb(255, 187, 1);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    background-color: #35ca49;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(0, 255, 42);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #229e3d;
}

nav li a.active {
    background-color: rgb(12, 128, 56);
}

nav ul.artists {
    display: none;
}

nav ul.artists-hub:hover {
    width: 200px;
    display: block;
}

.artists-hub:hover .artists {
    display:block;
}

